@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  scroll-behavior: smooth;
}

body {
  font-family: var(--font-poppins);
}

.montserrat {
  font-family: var(--font-montserrat);
}

.splide__arrow svg {
  fill: #4177ff !important; /* Warna ikon panah */
}

.is-overflow {
  overflow-y: visible !important;
  overflow-x: hidden !important;
}
.bg-ellipse {
  background: radial-gradient(
    ellipse at 50% 50%,
    #02143c 10%,
    #00172a 40%,
    #000022 60%,
    #000000 80%,
    #000000 100%
  );
}

.gradient-border-wrapper {
  position: relative;
  background: linear-gradient(to right, #0ad3ff, #2061ff);
  padding: 1px;
  border-radius: 0.375rem;
  box-shadow: 0px 1px 10px 0px #3853a4;
}
.gradient-border-wrapper-2 {
  position: relative;
  background: linear-gradient(to right, #0ad3ff, #2061ff);
  padding: 2px;
  border-radius: 0.5rem;
}
.bg-gradient {
  background: linear-gradient(to right, #0ad3ff, #2061ff);
}

.bg-gradient-2 {
  background: linear-gradient(to right, #0ad3ff 0%, #2061ff 71%);
}
.text-neon {
  text-shadow: 0 0 1px #2961cd, 0 0 2px #2961cd, 0 0 4px #2961cd;
}

.hero-title {
  font-size: 50px;
  font-weight: 700;
  text-align: center;
}
.text-gradient {
  background: linear-gradient(to right, #0ad3ff, #2061ff);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  padding-bottom: 12px;
  line-height: 1;
}

.nav-link:hover {
  background: linear-gradient(to right, #0ad3ff, #2061ff);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

.glow {
  position: absolute;
  width: 200px;
  height: 200px;
  background: rgba(0, 157, 255, 0.15);
  border-radius: 50%;
  filter: blur(50px);
  z-index: -1;
}

.stars {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.star {
  position: absolute;
  width: 2px;
  height: 2px;
  background: white;
  border-radius: 50%;
}

.hero-shadow {
  box-shadow: 0 0 20px rgba(41, 97, 205, 0.5), 0 0 40px rgba(41, 97, 205, 0.3),
    inset 0 0 20px rgba(41, 97, 205, 0.3);
}

.white-shadow-box {
  box-shadow: 0px 0px 20px rgba(255, 255, 255, 0.8);
}

.sidebar {
  right: -100%;
  transition: ease 0.3s;
  max-width: 75%;
}

.sidebar-show {
  right: 0;
}

.card-3 {
  background-image: url("../public/assets/homepage/from-zero/card-3.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  padding-top: 100%;
  position: relative;
}

.bg-why-gradient {
  /* background: linear-gradient(160deg, #131313 70%, #3853a4); */

  background: linear-gradient(150deg, #131313 70%, #22397f);
}

.bg-url {
  background-image: url("../public/assets/homepage/watch/watch.png");
}

.bg-container {
  background-image: url("../public/assets/homepage/watch/container.png");
  background-position: center;
  background-size: 100%;
  background-repeat: no-repeat;
}

@keyframes blink {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}

.animate-blink {
  animation: blink 0.7s step-end infinite;
}

@keyframes bounce {
  0%,
  100% {
    transform: translateY(5px);
  }

  50% {
    transform: translateY(-15px);
  }
}

@keyframes ping {
  75%,
  100% {
    transform: scale(1.2, 1.5);
    opacity: 0;
  }
}

.bounce-btn {
  animation: ping 1s infinite;
  animation-play-state: running;
  transition: transform 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  transform: s;
}

.bounce-btn:hover {
  /* animation-play-state: paused; */
  animation-play-state: paused;
  box-shadow: 0 0 15px rgba(255, 255, 255, 0.7);
}

@keyframes slideLeft {
  from {
    transform: translateX(0);
    opacity: 1;
  }
  to {
    transform: translateX(-100%);
    opacity: 0;
  }
}

@keyframes marqueeLeft {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

@keyframes slide-left {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(-100%);
  }
}
.cards-slide-left {
  white-space: nowrap;
  animation: slide-left 10s infinite linear;
  display: inline-block;
}

@keyframes slide-right {
  from {
    transform: translateX(-100%);
  }

  to {
    transform: translateX(0);
  }
}
.cards-slide-right {
  /* white-space: nowrap; */
  animation: slide-right 10s infinite linear;
  display: inline-block;
}

.bg-auth {
  background-image: url("../public/assets/auth/bg-auth.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.__main-container-wrapper,
.container-2 {
  margin: 0 auto;
  max-height: 100%;
  max-width: calc(1150px + 10vw);
  padding: 0 5vw;
}

.navbar {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.75rem 1.25rem;
  color: white;
  transition: ease 0.3s;
  z-index: 99;
}
